# Arquivo de exemplo das variáveis de ambientes que precisam ser configuradas no .env do projeto
# As variáveis do banco de dados que estão vazia precisam ser preenchidas com as informações fornecidas na instalação do postgres
# O TypeOrm não cria um banco de dados, lembre-se de criar o banco de dados previamente!!!

# App
APP_PORT=3000
APP_URL=http://localhost:3000

# Database configs
DB_HOST=localhost
DB_HOST_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=complainthub

# JWT Config
JWT_SECRET=vxR0JEeCyiquyLJb3C2I5mznwD56zwY3s20dZkM3oxa+GMNF3WaxO4w2/Uau+uWEf2yDKdv7y13zwoJ0+bizbaRgXrCRlPlxm/X2SSTIk/XV43uxls/0KCwbVOM6oijO0xSiqs9iZrx5TpwqCyPbBJ1mYivRhA
JWT_EXPIRES_IN=45m

# Mail Config
# Você precisa criar uma conta no SendGrid para poder obter uma chave
SENDGRID_API_KEY=
# Aqui você coloca o email que você cadastrou como "sender", na plataforma do SendGrid
MAIL_SENDER=

# Manager config
# Fique a vontade para substituir os dados
MANAGER_EMAIL=manager@complainthub.com
MANAGER_PASSWORD=Senha123